.nav {
	border-bottom: 1px solid #776e6d;
}

#home {
	background: url(./background-crop.png) no-repeat 10% 10%;	
	background-attachment: fixed;	
	width: 100%;
	display: block;
	height: auto;
	border-bottom: 1px dashed #fff;
	padding-top: 250px;
	font-family: 'Petit Formal Script', cursive, serif;
	color: #776e6d;	
	text-shadow: 2px 2px 2px #454737;	
}

#name {  
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));
}

.card-block {
	background-color: #f7f7f9;
}

.card-title-box {
	background-color: #fff;
	padding-top: 5px;
	text-align: center;
}

.card-title-box:hover{
	font-family: 'Petit Formal Script',cursive,serif;
}

tr, td {
	padding: 5px;
}

.exp-bubble {
	text-align: center;
	border: 2px solid #eacdcf;
	border-radius: 1000px;
	padding-left: 2px;
	padding-right: 2px;
}

.exp-info {
	text-align: left;
	border: 0;
}

.linkedin-photo {
	border: 2px double #bfc5aa;
	height: 100px;
	width: 100px;	
}

.linkedin-caption {
	font-family: Helvetica, sans-serif;
	color: #000;
	font-size: .8em;
	padding-top: 5px;
}

.portfolio-img {
	height: 175px;
	width: 175px;
}

a.text-link:link {
	font-family: Helvetica, sans-serif;
	color: #000;
	font-size: .95em;
	text-decoration:none;
}

a.text-link:visited {
	color: #bfc5aa;
	text-decoration: none;
} 

a.text-link:hover {
	color: #bfc5aa;
	text-decoration: none;
}